src/main/resources/User.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<xs:element name="User">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" minOccurs="0"/>
				<xs:element name="age" type="xs:integer" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>